<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Some Website</title>
  </head>
  <body>
    {{> header}}

    <!-- screamIt hbs helper (for multi argument, each followed by a space) -->
    <p>{{screamIt welcomeMessage pageTitle}}</p>
    
    {{> footer}}
  </body>
</html>